$blue:#22A7F0;
$pink:#DB5A6B;
h1{
   color: $blue; 
   font-size: 12px;
   font-family: fantasy;
   columns: 300px 2;
}
body{
   h1{
      a{
         color:$pink ;
         font-size: 24px;
      }
   }
}