.btn{
    background-color: $yellow;
    color:#fff;
    padding:.75rem 1.2rem;
    display: inline-block;
    text-decoration:none;


    &--large{
        font-size: 1.25rem;
        padding: 1.1rem 1.9rem;
    }
    &--orange{
        background-color: $yellow;
    }
}