
.overlay{
    position: relative;


    &__text-content{
        position: absolute;
        top:0;
        left: 15%;
        transform:translateY(200%);
    }

    &__title{
        font-size: 65px;
        color:$red;

    }
    &__content{
        font-size: 20px;
        color: $navyblue;

    }
    &__link{
        color:$brown;
        
    }
}
