
.overlay{
    position: relative;


    &__text-content{
        position: absolute;
        top:0;
        left: 15%;
        transform:translateY(200%);
    }

    &__title{
        font-size: 63px;
        color:$red;

    }
    &__content{
        font-size: 23px;
        color: $red;

    }
    &__link{
        color:$brown;
        
    }
}
